<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/icono-DA.ico">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Contacto DA</title>
</head>
<body>
    <header>
        <div class="container__menu">
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="../index.html">INICIO</a>
                        </li>
                
                        <li><a href="./sublimados.html">PROD. SUBLIMADOS</a>
                            <ul>
                                <li><a href="./tazas.html">TAZAS</a></li>
                                <li><a href="./remeras.html">REMERAS</a></li>
                                <li><a href="./set_jardin.html">SET DE JARDIN</a></li>
                            </ul>
                        </li>
                
                        <li><a href="./impresiones.html">IMPRESIONES</a>
                            <ul>
                                <li><a href="./fotografias.html">FOTOGRAFIAS</a></li>
                                <li><a href="./vinilos.html">VINILOS</a></li>
                                <li><a href="./stickers.html">STICKERS</a></li>
                                <li><a href="./documentos.html">DOCUMENTOS</a></li>
                                <li><a href="./anillados.html">ANILLADOS</a></li>
                                <li><a href="./laminados.html">LAMINADOS</a></li>
                            </ul>
                        </li>
                
                        <li><a href="./cumpleaños.html">CUMPLEAÑOS</a></li>

                        <li><a href="./eventos.html">EVENTOS</a>
                            <ul>
                                <li><a href="./dia_padre.html">DIA DEL PADRE</a></li>
                                <li><a href="./dia_madre.html">DIA DE LA MADRE</a></li>
                                <li><a href="./dia_niño.html">DIA DEL NIÑO</a></li>
                            </ul>
                        </li>

                        <li><a href="./contacto.html">CONTACTO</a></li>

                        <li><a href="./tienda.html">TIENDA</a></li>
                    </ul>
                </nav>    
            </div>    
        </div>
    </header>
    <main>
        <div class="menu-registro">
            <div class="titulo-registro">
                <h1>CONTACTO</h1>
            </div>

            <form action="">
                <label id="tipo-registro" for="nombre">Nombre:</label>
                <input type="text" id="datos-registro" name="nombre"><br>

                <label id="tipo-registro" for="apellido">Apellido:</label>
                <input type="text" id="datos-registro" name="apellido"><br>

                <label id="tipo-registro" for="documento">Documento:</label>
                <input type="email" id="datos-registro" name="email"><br>

                <label id="tipo-registro" for="telefono">Telefono:</label>
                <input type="number" id="datos-registro" name="telefono"><br>

                <div class="titulo-registro">
                    <h5>PRODUCTO DE SU CONSULTA:</h4>
                </div>
                
                <div>
                    <label id="tipo-registro" for="tazas">Tazas</label>
                    <input type="radio" id="" name="producto" value="taza">

                    <label id="tipo-registro" for="Remeras">Remeras</label>
                    <input type="radio" id="" name="producto" value="remeras">

                    <label id="tipo-registro" for="vinilo">Vinilos</label>
                    <input type="radio" id="" name="producto" value="vinilo"><br>

                    <label id="tipo-registro" for="set">Set de jardin</label>
                    <input type="radio" id="" name="producto" value="set"><br>

                    <label id="tipo-registro" for="fotografia">Fotografias</label>
                    <input type="radio" id="" name="producto" value="fotografia">

                    <label id="tipo-registro" for="cumpleaños">Cumpleaños</label>
                    <input type="radio" id="" name="producto" value="cumpleaños">

                    <label id="tipo-registro" for="stikers">Stikers</label>
                    <input type="radio" id="" name="producto" value="stiker">

                    <label id="tipo-registro" for="impresiones">Impresiones</label>
                    <input type="radio" id="" name="producto" value="impresiones">
                </div><br>

                <textarea name="consulta" id="consulta" cols="50" rows="6" placeholder="Escriba su consulta..."></textarea><br>
                <div id="botones">
                    <button type="submit" id="sumit">Enviar</button>
                    <button type="reset" id="reset">Limpiar</button>
                </div>
            </form>
        </div><br>
    </main>
    <footer>
        <div class="footer">
            <h2 id="titulo-f">DISEÑOS ARCOIRIS</h3>
            <H3 id="titulo-f2">SIGUENOS EN NUESTRAS REDES SOCIALES:</H3>
            <ul id="redes">
                <li><a href="https://www.facebook.com/profile.php?id=100083346188887" target="_blank"><img src="../static/img/facebook.png" alt="Facebook" width="35"></a></li>
                <li><a href="https://www.instagram.com/disarcoiris/" target="_blank"><img src="../static/img/instagram.png" alt="Instagram" width="35"></a></li>
            </ul>
        </div>

        <div class="bottom-bar">
            <p>&copy; 2024 Diseños Arcoiris All rights reserved</p>
       </div>
    </footer>    
</body>
</html>