<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/icono-DA.ico">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Combos Cumpleaños DA</title>
</head>
<body>
    <header>
        <div class="container__menu">
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="../index.html">INICIO</a>
                        </li>
                
                        <li><a href="./sublimados.html">PROD. SUBLIMADOS</a>
                            <ul>
                                <li><a href="./tazas.html">TAZAS</a></li>
                                <li><a href="./remeras.html">REMERAS</a></li>
                                <li><a href="./set_jardin.html">SET DE JARDIN</a></li>
                            </ul>
                        </li>
                
                        <li><a href="./impresiones.html">IMPRESIONES</a>
                            <ul>
                                <li><a href="./fotografias.html">FOTOGRAFIAS</a></li>
                                <li><a href="./vinilos.html">VINILOS</a></li>
                                <li><a href="./stickers.html">STICKERS</a></li>
                                <li><a href="./documentos.html">DOCUMENTOS</a></li>
                                <li><a href="./anillados.html">ANILLADOS</a></li>
                                <li><a href="./laminados.html">LAMINADOS</a></li>
                            </ul>
                        </li>
                
                        <li><a href="./cumpleaños.html">CUMPLEAÑOS</a></li>

                        <li><a href="./eventos.html">EVENTOS</a>
                            <ul>
                                <li><a href="./dia_padre.html">DIA DEL PADRE</a></li>
                                <li><a href="./dia_madre.html">DIA DE LA MADRE</a></li>
                                <li><a href="./dia_niño.html">DIA DEL NIÑO</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="./contacto.html">CONTACTO</a></li>

                        <li><a href="./tienda.html">TIENDA</a></li>
                    </ul>
                </nav>    
            </div>    
        </div>
    </header>   
    <main>
        <div>
            <h1 class="titulo_pag_varias">COMBOS PARA CUMPLEAÑOS</h1>
            <i><b><p id="explicacion_titulo">Encuentra todo para festajar tu cumpleaños</p></b></i>
        </div>
        <figure class="prod_varios_1img">
            <img src="../static/img/combos_cumpleaños/ultra_premium1.jpeg" alt="imagen combo premium" id="img_prod">
            <div class="text_pro_imgizq">
                <h2>COMBO PREMIUM</h2><br>
                <p>
                    * 20 Tarjetas impresas + Digital<br>
                    * 1 Banderin grande "Feliz Cumple"<br>
                    * 1 Cake topper con imagen + numero + nombre<br>
                    * 2 Imagenes A4 para decorar<br>
                    * 20 Stickers<br>
                    * 1 Piñata grande<br>
                    * 1 Gorro de cumpleañero<br>
                    * 20 Gorros de cumpleaños <br>
                    * 20 Cupcakes topper <br>
                    * 20 Porta sorbetes <br>
                    * 20 Pochocleras <br>
                    * Caja de regalos <br>
                    * 20 Bolsitas de friselina sublimadas o 20 Cajitas milk <br>
                    * 20 Rompecabezas de madera o 20 Memotest de madera <br>
                    * 20 Libros para colorear de 10 x 14 cm de 12 paginas <br>
                    * 20 Fotos iman para heladera o 20 Calendarios <br>
                    * 1 Cuadro A4 de madera y vidrio para centro de souvenirs <br>
                    * Nombre en 3D hasta 6 letras <br>
                    * 20 Vasos sorbetones o Frascos de vidrio con sorbete <br>
                    * 5 Centros de mesa <br>
                    * 1 Banner A3 tipo lona sublimado <br>
                    * 1 Cuadro de selfie o 10 Palitos de selfie <br><br>
                </p>
                <div>
                    <a href="../templates/contacto.html"><button id="boton1" type="button">CONSULTA</button></a>
                    <a href="../templates/tienda.html"><button id="boton2" type="button">TIENDA</button></a>
                </div>
            </div>
        </figure>
        <figure class="prod_varios_1img">
            <div>
                <img src="../static/img/combos_cumpleaños/sorprecita_mejorado1.jpeg" alt="combo mejorado 1" id="img_prod">
            </div>
            <div class="text_pro_imgizq">
                <h2>COMBO MEJORADO</h2><br>
                <p>
                   * 20 Tarjetas impresas + Digital<br>
                   * 1 Banderin mediano "Feliz Cumple"<br>
                   * 1 Cake topper con imagen + numero + nombre<br>
                   * 2 Imagenes A4 para decorar<br>
                   * 20 Stickers<br>
                   * 1 Piñata mediana <br>
                   * 1 Gorro de cumpleañero <br>
                   * 20 Gorros de cumpleaños <br>
                   * 20 Cupcakes topper <br>
                   * 20 Porta sorbetes <br>
                   * 20 Bolsitas de friselina sublimadas o 20 cajitas milk <br>
                   * 20 Rompecabezas de madera o 20 Memotest de madera <br>
                   * 20 Vasos sorbetones o 20 Frascos de vidrio con vinilo <br>
                   * 20 Libritos para colorear de 10 x 14 cm de 12 paginas <br>
                   * 1 Cuadro de selfie o 10 Palitos para selfie <br>
                   * Caja para regalos <br>
                </p>
            <a href="../templates/contacto.html"><button id="boton1" type="button">CONSULTA</button></a>
            <a href="../templates/tienda.html"><button id="boton2" type="button">TIENDA</button></a>
            </div>
        </figure>
        <figure class="prod_varios_1img">
            <div class="text_pro_imgder">
                <h2> COMBO SORPRESITA SIMPLE</h2><br>
                <P>
                    * 20 Tarjetas impresas + Digital<br>
                    * 1 Banderin mediano "Feliz Cumple"<br>
                    * 1 Cake topper con imagen + numero + nombre<br>
                    * 2 Imagenes A4 para decorar<br>
                    * 20 Stickers<br>
                    * 1 Piñata mediana <br>
                    * 1 Gorro de cumpleañero <br>
                    * 20 Gorros de cumpleaños <br>
                    * 20 Cupcakes topper <br>
                    * 20 Porta sorbetes <br>
                    * 20 Bolsitas de friselina sublimadas o 20 cajitas milk <br>
                    * 20 Juegos de cartulina <br>
                    * 20 Libritos para colorear de 10 x 14 cm de 12 paginas <br>
                    * 1 Cuadro de selfie o 10 palitos para selfie <br>
                    * 1 Caja de regalos
                </P>
            </div>
            <div>
                <img src="../static/img/combos_cumpleaños/sorprecita_simple1.jpeg" alt="sorprecita simple" id="img_prod"><br><br>
                <div>
                    <a href="../templates/contacto.html"><button id="boton1" type="button">CONSULTA</button></a>
                    <a href="../templates/tienda.html"><button id="boton2" type="button">TIENDA</button></a>
                </div>
            </div>
        </figure>
        <figure class="prod_varios_1img">
            <img src="../static/img/combos_cumpleaños/teens.jpeg" alt="teens" id="img_prod">
            <div class="text_pro_imgizq">
                <h2> COMBO TEENS</h2><br>
                <p>
                    * 1 Banderin mediano "Nombre"<br>
                    * 1 Banderin chico formas imagenes o frase<br>
                    * 1 Cake topper con imagen + numero + nombre<br>
                    * 5 imagenes A4 para decorar<br>
                    * 20 Stickers<br>
                    * 20 Cupcakes topper <br>
                    * 10 Palitos de selfie <br>
                    * 1 Cuadro de selfie <br>
                    * 2 Centros de mesa <br>
                    * 1 Piñata mediana <br>
                    * 20 Cajitas feliz tipo Mcdonald´s <br>
                    * 20 Vasos sorbetones <br><br>
                </p>
                <a href="../templates/contacto.html"><button id="boton1" type="button">CONSULTA</button></a>
                <a href="../templates/tienda.html"><button id="boton2" type="button">TIENDA</button></a>
            </div>
        </figure>
        <figure class="prod_varios_1img">
            <div class="text_pro_imgder">
                <h2>COMBO SOUVENIRS</h2><br>
                <p>
                    * 20 Tarjetas impresas + Digital<br>
                    * 1 Banderin mediano "Feliz Cumple"<br>
                    * 1 Cake topper con imagen + numero + nombre<br>
                    * 2 Imagenes A4 para decorar<br>
                    * 20 Stickers<br>
                    * 1 Gorra de cumpleañero <br>
                    * 20 Gorros de cumpleaños <br>
                    * 20 Cupcakes topper <br>
                    * 20 Porta sorbetes <br>
                    * Cuadro de selfie o 10 palitos selfie <br>
                    * Caja de regalos <br>
                    * Piñata mediana <br>
                    * 20 Fotos con iman o 20 calendarios <br>
                    * 1 Cuadro de madera y vidrio con foto A4
                </p>
            </div>
            <div>
                <img src="../static/img/combos_cumpleaños/Souvenirs.jpeg" alt="suvenirs" id="img_prod">
                <div>
                    <a href="../templates/contacto.html"><button id="boton1" type="button">CONSULTA</button></a>
                    <a href="../templates/tienda.html"><button id="boton2" type="button">TIENDA</button></a>
                </div>
            </div>
        </figure>
        <figure class="prod_varios_1img">
            <img src="../static/img/combos_cumpleaños/completo1.jpeg" alt="completo" id="img_prod">
            <div class="text_pro_imgizq">
                <h2>COMBO COMPLETO</h2><br>
                <p>
                    * 20 Tarjetas impresas + digital<br>
                    * 1 Banderin mediano "Feliz Cumple"<br>
                    * 1 Cake topper con imagen + numero + nombre<br>
                    * 2 imagenes A4 para decorar<br>
                    * 20 Stickers<br>
                    * 1 Gorro de cumpleañero <br>
                    * 20 Gorros de cumpleaños <br>
                    * 20 Cupcakes topper <br>
                    * 20 Porta sorbetes <br>
                    * Cuadr de selfie o 10 palitos selfies <br>
                    * Caja para Regalos <br>
                    * Piñata mediana <br><br> 
                </p>
                    <a href="../templates/contacto.html"><button id="boton1" type="button">CONSULTA</button></a>
                    <a href="../templates/tienda.html"><button id="boton2" type="button">TIENDA</button></a>
            </div>
        </figure>
        <figure class="prod_varios_1img">
            <div class="text_pro_imgder">
                <h2>COMBO BASICO</h2><br>
                <p>
                    * 20 Tarjetas impresas + Digital<br>
                    * 1 Banderin mediano "Feliz Cumple"<br>
                    * 1 Cake topper con imagen + numero + nombre<br>
                    * 1 Imagen A4 para decorar<br>
                    * 20 Stickers<br>
                    * 1 Piñata chica <br>
                    * 1 Gorra de cumpleañero <br>
                    * 20 Cierra bolsas <br>
                    * 20 Cupcakes topper 
                </p>
            </div>
            <div>
                <img src="../static/img/combos_cumpleaños/basico.jpeg" alt="combo basico" id="img_prod">
                <div id="boton-medio">
                    <a href="../templates/contacto.html"><button id="boton1" type="button">CONSULTA</button></a>
                    <a href="../templates/tienda.html"><button id="boton2" type="button">TIENDA</button></a>
                </div>
            </div>
        </figure>
        <figure class="prod_varios_1img">
            <img src="../static/img/combos_cumpleaños/economico1.jpeg" alt="combo economico 1" id="img_prod">
            <div class="text_pro_imgizq">
                <h2>COMBO ECONOMICO</h2><br>
                <p>
                    * 20 Tarjetas impresas + Digital <br><br>
                    * 1 Banderin chico "Feliz Cumple" <br><br>
                    * 1 Cake topper con imagen + numero +nombre <br><br>
                    * 1 Imagen A4 para decorar <br><br>
                    * 20 Stickers<br><br>
                    * 1 Piñata chica
                </p>
                <a href="../templates/contacto.html"><button id="boton1" type="button">CONSULTA</button></a>
                <a href="../templates/tienda.html"><button id="boton2" type="button">TIENDA</button></a>
            </div>
        </figure>
    </main>
    <footer>
        <div class="footer">
            <h2 id="titulo-f">DISEÑOS ARCOIRIS</h3>
            <H3 id="titulo-f2">SIGUENOS EN NUESTRAS REDES SOCIALES:</H3>
            <ul id="redes">
                <li><a href="https://www.facebook.com/profile.php?id=100083346188887" target="_blank"><img src="../static/img/facebook.png" alt="Facebook" width="35"></a></li>
                <li><a href="https://www.instagram.com/disarcoiris/" target="_blank"><img src="../static/img/instagram.png" alt="Instagram" width="35"></a></li>
            </ul>
        </div>

        <div class="bottom-bar">
            <p>&copy; 2024 Diseños Arcoiris All rights reserved</p>
       </div>
    </footer>
</body>
</html>