<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Impresiones</title>
</head>
<body>
    <header>
        <div class="container__menu">
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="../index.html">INICIO</a>
                        </li>
                
                        <li><a href="./sublimados.html">PROD. SUBLIMADOS</a>
                            <ul>
                                <li><a href="./tazas.html">TAZAS</a></li>
                                <li><a href="./remeras.html">REMERAS</a></li>
                                <li><a href="./set_jardin.html">SET DE JARDIN</a></li>
                            </ul>
                        </li>
                
                        <li><a href="./impresiones.html">IMPRESIONES</a>
                            <ul>
                                <li><a href="./fotografias.html">FOTOGRAFIAS</a></li>
                                <li><a href="./vinilos.html">VINILOS</a></li>
                                <li><a href="./stickers.html">STICKERS</a></li>
                                <li><a href="./documentos.html">DOCUMENTOS</a></li>
                                <li><a href="./anillados.html">ANILLADOS</a></li>
                                <li><a href="./laminados.html">LAMINADOS</a></li>
                            </ul>
                        </li>
                
                        <li><a href="./cumpleaños.html">CUMPLEAÑOS</a></li>

                        <li><a href="./eventos.html">EVENTOS</a>
                            <ul>
                                <li><a href="./dia_padre.html">DIA DEL PADRE</a></li>
                                <li><a href="./dia_madre.html">DIA DE LA MADRE</a></li>
                                <li><a href="./dia_niño.html">DIA DEL NIÑO</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="./contacto.html">CONTACTO</a></li>

                        <li><a href="./tienda.html">TIENDA</a></li>
                    </ul>
                </nav>    
            </div>    
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>